<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE configuration>
<configuration scan="true" debug="false">
    <!--console-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- trace, debug, info, warn, error, all, off -->
    <root>
        <level value="debug"/>
        <appender-ref ref="console"/>
    </root>
</configuration>